#container
{
	height: auto;
	background-color: #eee;
	border:solid #999 1px;
	margin: 20px;
	padding: 20px;
	overflow: auto;
	font-family: "微软雅黑";
}

#team
{
	float: left;
	width: 200px;
	margin: 20px;
	background-color: white;
	border: solid #999 1px;
}

#team img
{
	width: 80px;
	height: 80px;
	margin:5px;
}

#team_name
{
	position: relative;
	bottom: 40px;
	left: 20px;
	font-size: larger;
}

#introduction
{
	background-color: white;
	margin: 20px 160px 20px 240px;
	padding: 20px;
	border: solid #999 1px;
}

#individual
{
	float: right;
	width: 120px;
	margin: 20px;
	background-color: white;
	text-align: center;
	border: solid #999 1px;
}

#individual img
{
	width: 80px;
	height: 80px;
	margin:5px;
}
