.panel {
  float: left;
}
.field-1 {
  width: 400px;
  margin: 40px 20px;
}
.btn {
  margin: 10px 20px;
}
.field-2 {
  margin: 50px 20px 0 450px;
  height: 500px;
  overflow: auto;
  position: relative;
}

.bar {
  position: absolute;
  bottom: 50px;
  border: 1px solid black;
}