#square
{
	background-color: #ccc;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;
}

#circle_left 
{
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius: 0 0 50px 0;
}
#circle_right 
{	
	width: 50px;
	height: 50px;
	background-color: #fc0;
	border-radius: 50px 0 0 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
}	